#!/usr/bin/env bash
echo ""
fastfetch --pipe false --logo /etc/neofetch-ascii.txt --logo-type file --logo-color-1 white --logo-padding-right 3 --color-keys blue --bright-color -s os:host:kernel:uptime:packages:display:cpu:gpu:disk:memory --separator ": "
echo ""
